LenguajeDeMarcas/2EV/XML/1/empleados.dtd

<!ELEMENT empresa (departamentos, empleados)>
<!ELEMENT departamentos (departamento+)>
<!ELEMENT departamento (nombre, ubicacion)>
<!ATTLIST departamento
    id ID #REQUIRED
    codigo CDATA #REQUIRED
>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT ubicacion (#PCDATA)>


<!ELEMENT empleados (empleado+)>
<!ELEMENT empleado (nombre, apellidos, fnac, dep, email?, telefono?)>
<!ATTLIST empleado dni ID #REQUIRED>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellidos (#PCDATA)>
<!ELEMENT fnac (#PCDATA)>
<!ELEMENT dep EMPTY>
<!ATTLIST dep refDep ID #REQUIRED>
<!ELEMENT email (#PCDATA)>
<!ELEMENT telefono (#PCDATA)>

