LenguajeDeMarcas/2EV/XML/4/videojuegos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!--Elementos personalizados-->
<xs:simpleType name="mitipoanio">
    <xs:restriction base="xs:integer">
        <xs:minInclusive value="1970"></xs:minInclusive>
        <xs:maxInclusive value="2100"></xs:maxInclusive>
    </xs:restriction>
</xs:simpleType>


<xs:simpleType name="mitipoprecio">
    <xs:restriction base="xs:double">
        <xs:minExclusive value="0.00"></xs:minExclusive>
    </xs:restriction>
</xs:simpleType>

<xs:simpleType name="mitipovaloracion">
    <xs:restriction base="xs:double">
        <xs:minInclusive value="0.0"></xs:minInclusive>
        <xs:maxInclusive value="10.0"></xs:maxInclusive>
    </xs:restriction>
</xs:simpleType>
    <!--Elemento raiz-->
    <xs:element name="catalogo">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="videojuego" minOccurs="1" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="titulo" type="xs:string"></xs:element>
                            <xs:element name="desarrolladora" type="xs:string"></xs:element>
                            <xs:element name="año" type="mitipoanio"></xs:element>
                            <xs:element name="plataformas">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="plataforma" type="xs:string" minOccurs="1" maxOccurs="unbounded"></xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="genero" type="xs:string"></xs:element>
                            <xs:element name="precio" type="mitipoprecio"></xs:element>
                            <xs:element name="valoracion" type="mitipovaloracion"></xs:element>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:ID" use="required" ></xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>